body { 
    margin: 0; 
    padding: 0; 
    
    font-family: 'Inter', sans-serif;
    
  }

  #map canvas {
    cursor: pointer;
    }

  #map { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%; 
  }

  table {
    border-spacing: 13px;
  }
.ui-widget-header { background: #082A63; }

.mapboxgl-ctrl  button .mapboxgl-ctrl-icon {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    font-size: 14px;
    padding-top: 20%;
    background-color: #082A63;
    color: white
}

.colorbar {
  border-radius: 10px;
  font-size: 12px;
}

.date-range {
  border-radius: 10px;
  padding: 12px 20px;
  font-size: 14px;
}

#display_props {
  font-size: 14px;
  border-radius: 10px;
  bottom: 10%;
  left: 50px;
  background-color: white;
  padding: "12px";
}

#close {
  float:right;
  display:inline-block;
  padding:2px 5px;
  background:#ccc;
}

#close:hover {
  float:right;
  display:inline-block;
  padding:2px 5px;
  background:#ccc;
  color:#fff;
  cursor: pointer;
}