body { 
    margin: 0; 
    padding: 0; 
    
    font-family: 'Inter', sans-serif;
    
  }

  #map canvas {
    cursor: default;
    }

  #map { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%; 
  }

  table {
    border-spacing: 13px;
  }
.ui-widget-header { background: #082A63; }

.mapboxgl-ctrl  button .mapboxgl-ctrl-icon {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    font-size: 14px;
    padding-top: 20%;
    background-color: #082A63;
    color: white
}

.colorbar {
  border-radius: 10px;
  font-size: 12px;
}

.date-range {
  border-radius: 10px;
  padding: 12px 20px;
  font-size: 14px;
}

#display_props {
  font-size: 14px;
  border-radius: 10px;
  bottom: 10%;
  left: 50px;
  background-color: white;
  padding: "12px";
  height: fit-content;
  cursor: move;
}

#close {
  float:right;
  display:inline-block;
  padding:2px 5px;
  background:#ccc;
}

#close:hover {
  float:right;
  display:inline-block;
  padding:2px 5px;
  background:#ccc;
  color:#fff;
  cursor: pointer;
}

.marker {
  background-image: url("./marker-sdf-2.png");
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  /* box-shadow: 1px 1px white; */
}

.mapboxgl-ctrl button.mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon {
  background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22%23FFFFFF%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20role%3D%22img%22%20viewBox%3D%220%200%2016%2016%22%20aria-hidden%3D%22true%22%20class%3D%22plus-small__CollecticonPlusSmall-sc-1fqmt3p-0%20fnbDBt%22%3E%3Ctitle%3Eplus%20small%20icon%3C%2Ftitle%3E%3Cpolygon%20points%3D%2214%2C7%209%2C7%209%2C2%207%2C2%207%2C7%202%2C7%202%2C9%207%2C9%207%2C14%209%2C14%209%2C9%2014%2C9%22%3E%3C%2Fpolygon%3E%3C%2Fsvg%3E);
}

.mapboxgl-ctrl button.mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22%23FFFFFF%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20role%3D%22img%22%20viewBox%3D%220%200%2016%2016%22%20aria-hidden%3D%22true%22%20class%3D%22minus-small__CollecticonMinusSmall-sc-idjajx-0%20iiALwp%22%3E%3Ctitle%3Eminus%20small%20icon%3C%2Ftitle%3E%3Cpolygon%20points%3D%2214%2C7%202%2C7%202%2C9%2014%2C9%22%3E%3C%2Fpolygon%3E%3C%2Fsvg%3E")
}

button.mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon {
padding: 0px;

}

button.mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon {
  padding: 0px;
  
  }
.mapboxgl-ctrl-compass {
  display: none !important;
}


.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: col-resize;
}